
* {
    font-family:Verdana, Tahoma, sans-serif;
    margin: 0px;
    background-color: rgb(20,20,20);
}

.overlay {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-items: stretch;
    align-items: stretch;
}

.sidebar {
    flex: 1 0 25%;
}

.foo {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 25vh;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin: 10px 5px 5px 10px;
    align-items: center;
    background-color: rgb(36, 36, 36);
}

.recent {
    display: flex;
    height: 75vh;
}

.recentComponent {
    margin: 5px 5px 10px 10px;
    background-color:rgb(87, 87, 87);
    flex: 1;
}

.main {
    flex: 1 0 75%;
}

.nav {
    display: flex;
    height: 25vh;
}

.navButton {
    background-color:rgb(87, 87, 87);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 5px 5px;
    flex-grow: 1;
}

.navButton:hover {
    cursor:pointer;
    background-color: rgb(36, 36, 36);
}

.content {
    display: flex;
    height: 75vh;
}

.input {
    background-color:rgb(87, 87, 87);
    margin: 5px 10px 10px 5px;
    flex-grow: 1;
}

.view {
    background-color:rgb(87, 87, 87);
    margin: 5px 10px 10px 0px;
    flex-grow: 1;
}


.logo .head {
    font-size: 56px;
    font-weight: bold;
    background-color: none;
    margin: none;
    margin-bottom: 0 !important;
    padding-bottom: none;
    color: white;
    background-color:rgb(36, 36, 36);
}

.logo .sub {
    position: relative;
    offset-position: 30px 0px 0px 0px;
    font-size: 15px;
    font-weight: bold;
    background-color: none;
    margin: none;
    padding-top: none;
    color: white;
    background-color:rgb(36, 36, 36);

}